<div class="home-container">
    <h1 class="welcome-title">Bienvenido al Sistema de Gestión</h1>
    
    <div class="description">
      <p>Este es un sistema para gestionar vehículos y titulares. Elige una opción para empezar:</p>
    </div>
    
    <div class="navigation-buttons">
      <a routerLink="/vehiculos" class="btn-card">
        <span>Gestión de Vehículos</span>
      </a>
      <a routerLink="/titulares" class="btn-card">
        <span>Gestión de Titulares</span>
      </a>
    </div>
  </div>
  